doctype html
head
  include ../defaults/header.pug
  // Script
  script(defer='' src='/js/fs/about-me.js')
include ../defaults/nav.pug
h1#aboutme.anim-typewriter
.info
  p
    | Hello, I&apos;m Benjamin! I&apos;m a student developer based in the mid-west region of
    | the United States. I develop websites, games, APIs, Discord bots, and more!
    | I know many languages such as: HTML, CSS, JavaScript (vanilla), NodeJS,
    | C++, C#, C, Java, Python, and Visual Basic. You can find 
    a(href='https://github.com/sparty182020/Code-Area' target='_blank') here
    |             and more on my 
    a(href='https://github.com/sparty182020' target='_blank') GitHub Profile
    | .
