doctype html
html(lang='en')
  head
    include ../defaults/header.pug
  body
    include ../defaults/nav.pug
    h1.title Home Page
    h2 Hello! My name is Benjamin! I am a full stack web developer who knows many languages including: 
      | HTML, CSS, JavaScript, Node.js, Express, MySQL, Java, C++, C#, Python, VBS, bash, git, and more! 
      | I am currently working on multiple projects including a few Discord Bots, this website, and an API!
    
    include ../defaults/footer.pug