.navigation
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/about-me') About Me
      li
        a(href='/text-conv') Text Converter
      li
        a(href='/game') Game
      li
        a(href='/socials') Socials