style.
  @keyframes rainbow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  html {
    background: linear-gradient(135deg, rgba(0, 0, 255, 0.2), rgba(255, 0, 0, 0.2)) !important;
    animation: rainbow 6250ms linear infinite;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
  }

  body {
    display: grid;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: #f1f1f1;
    height: max-content;
  }

  form > label, form > input[type="submit"] {
    margin: 10px;
    display: flex;
  }

  input:not(#submit) {
    margin-left: 10px;
  }

  #submit {
    display: flex;
    align-self: center;
  }

  #token {
    width: 384px;
  }