doctype html
html(lang="en")
  head
    title= title
    include css.pug
  body
    h1 Reply to a message
    form(action='/discord/api/message/reply' method='post')
      label(for="token") Discord Bot Token:
        br
        input#token(type="password", name="token" required='')
      label(for="channelID") Channel ID:
        br
        input#channelID(type='text' name='channelID' required='' pattern='[0-9]{18,}')
      label(for="channelID") Reply-To Message ID:
        br
        input#replyToID(type='text' name='replyToID' required='' pattern='[0-9]{18,}')
      label(for="message") Message:
        br
        input#message(type='text' name='message' required='')
      input#submit(type='submit' value='Send Message')
  