/* Navigation Management */

.navigation nav {
    padding-bottom: 10px;
}

.navigation nav ul {
    text-align: center;
    list-style-type: none;
    background-color: var(--dark100);
    color: var(--dark800);
    border: 2px solid var(--dark800);
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
    width: fit-content;
    margin: auto;
}

.navigation nav ul li {
    display: inline;
    padding: 0 9px;
}

.navigation nav ul li a {
    text-decoration: none;
    color: var(--dark800);
}

.navigation nav li.selected {
    color: var(--dark900);
    text-decoration: underline;
}

.navigation nav ul li a:hover {
    text-decoration: underline;
}

/* SVG Background */

html {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/bg");
}

/* Extras */

.title {
    color: black;
    font-size: 48px;
    font-size: bolder;
    text-decoration: underline red 4px;
}

strong, i, strike, b, del, ins, dfn, em, s {
    font-style: normal;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: var(--dark100);
    color: var(--dark900);
    border: 2px solid var(--dark800);
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
}